/* fonts */
@font-face {
  font-family: "Fira Sans";
  src: url("fonts/FiraSans-Regular.ttf");
  font-display: swap;
}
@font-face {
  font-family: "Fira Math";
  src: url("fonts/FiraMath-Regular.otf");
  font-display: swap;
}
@font-face {
  font-family: "Fira Sans";
  src: url("fonts/FiraSans-Italic.ttf");
  font-display: swap;
  font-style: italic;
}
@font-face {
  font-family: "Fira Sans";
  src: url("fonts/FiraSans-Bold.ttf");
  font-display: swap;
  font-weight: bold;
}
@font-face {
  font-family: "Fira Sans";
  src: url("fonts/FiraSans-BoldItalic.ttf");
  font-display: swap;
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "iosevie";
  src: url("https://raw.githubusercontent.com/mi2ebi/iosevie/refs/heads/main/dist/Iosevie/TTF/Iosevie-Regular.ttf");
  font-display: swap;
}
@font-face {
  font-family: "iosevie";
  src: url("https://raw.githubusercontent.com/mi2ebi/iosevie/refs/heads/main/dist/Iosevie/TTF/Iosevie-Italic.ttf");
  font-display: swap;
  font-style: italic;
}
@font-face {
  font-family: "iosevie";
  src: url("https://raw.githubusercontent.com/mi2ebi/iosevie/refs/heads/main/dist/Iosevie/TTF/Iosevie-Bold.ttf");
  font-display: swap;
  font-weight: bold;
}
@font-face {
  font-family: "iosevie";
  src: url("https://raw.githubusercontent.com/mi2ebi/iosevie/refs/heads/main/dist/Iosevie/TTF/Iosevie-BoldItalic.ttf");
  font-display: swap;
  font-weight: bold;
  font-style: italic;
}

/* main */
*, input, button {
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
}
*:not(body), input, button {
  transition: background 0.2s;
}
:root {
  --bg: light-dark(white, black);
  --fg: light-dark(black, white);
  --checked: #ff1493;
  --op-c: calc(12/15);
  --op-a: calc(10/15);
  --op-8: calc(08/15);
  --op-4: calc(04/15);
  --op-2: calc(02/15);
  --link: light-dark(#06c, #9cf);
  --red: light-dark(#c82929, #f99);
  --focus: #ffae0c;
  --sans: "Fira Sans", "Nokia Pure HL KLGN", ui-sans-serif, sans-serif;
  --mono: "iosevie", ui-monospace, monospace;
  background: var(--bg);
  color: var(--fg);
  &:has(> body.regex) {
    --checked: #0c9381;
  }
  &:has(> body.rhyme) {
    --checked: light-dark(#712ce8, #8f48e0);
  }
  color-scheme: light dark;
}

body {
  font-family: var(--sans);
  margin-inline: auto;
  max-inline-size: 600px;
  padding: 8px;
  line-height: 1.4;
  word-break: break-word;
  &[class^=r] .normalonly {
    display: none;
  }
  &:not([class^=re]) .regexonly {
    display: none;
  }
  &:not([class^=rh]) .rhymeonly {
    display: none;
  }
}

/* searchbar */
#fakebox {
  display: flex;
  border-radius: 16px;
  background: var(--bg);
  border: 2px solid var(--fg);
  box-shadow: var(--fg) 0 3px;
  padding-block: 4px;
  padding-inline: 12px;
  align-items: baseline;
  block-size: 1lh;
  font-size: 1.5em;
  box-sizing: content-box;
  &:has(> #search:disabled) {
    opacity: 1;
    border-color: rgb(from var(--fg) r g b / var(--op-8));
    background-color: rgb(from var(--bg) r g b / var(--op-8));
    box-shadow: rgb(from var(--fg) r g b / var(--op-8)) 0 3px;
  }
  &:is(:hover, :focus-within) {
    outline: 2px solid var(--focus);
    background-color: rgb(from var(--focus) r g b / var(--op-2));
  }
}

#search {
  display: block;
  padding: 0;
  margin: 0;
  flex: 1;
  border-radius: 0;
  font-family: var(--sans);
  font-size: inherit;
  background: transparent;
  border: none;
  color: var(--fg) !important;
  block-size: 1lh;
  box-sizing: content-box;
  caret-color: var(--fg);
  &:disabled {
    opacity: 1;
  }
  &::placeholder {
    color: rgb(from var(--fg) r g b / var(--op-c));
    opacity: 1;
  }
  &:disabled::placeholder {
    color: rgb(from var(--fg) r g b / var(--op-8));
    opacity: 1;
  }
  &:focus-visible {
    outline: none;
    background: none;
  }
}

#clear-wrap {
  display: none;
  &.show {
    display: inline;
  }
}
.clear {
  color: var(--red);
}
.nopad {
  padding: 0;
}
:disabled {
  color: rgb(from var(--fg) r g b / var(--op-c));
}

/* lujvo things / regex errors */
#info {
  font-size: 1.25em;
  margin-block-start: 8px;
  color: rgb(from var(--fg) r g b / var(--op-c));
  p {
    margin-block: 6px;
  }
  :not(.err) {
    color: rgb(from var(--fg) r g b / var(--op-c));
  }
}

.rafsi a {
  color: rgb(from var(--fg) r g b / var(--op-c));
}

/* results */
.entry {
  display: block;
  margin-block: 8px;
  padding-block: 4px;
  padding-inline: 16px;
  color: var(--fg);
  :is(p:first-child, summary) {
    font-family: var(--sans);
  }
  p:first-child a.w {
    color: var(--fg);
  }
  .selmaho {
    font-family: var(--mono);
    color: rgb(from var(--fg) r g b / var(--op-c));
  }
  :is(.selmaho, .rafsi) {
    color: rgb(from var(--fg) r g b / var(--op-c));
  }
  details {
    color: rgb(from var(--fg) r g b / var(--op-c));
    margin-block: 16px;
  }
}
code, pre {
  font-family: var(--mono);
}
summary {
  font-weight: bold;
  cursor: pointer;
  &:has(a:hover):hover {
    outline: none;
    background: none;
  }
}
:not([open]) > summary span {
  display: none;
}

/* misc */
.nobr {
  white-space: nowrap;
}
ul li {
  list-style-type: disc;
}
math {
  font-family: "Fira Math";
  font-size: 1.1em;
}
b, h1, summary {
  letter-spacing: 0.05ch;
}

/* links/buttons */
a {
  color: var(--link);
  text-decoration: none;
  &:is(:hover, :focus-visible) {
    outline: 2px solid var(--focus);
    background-color: rgb(from var(--focus) rgb / var(--op-2));
  }
}
.opt {
  color: var(--fg);
  border: 1px solid var(--fg);
  border-radius: 16px;
  display: inline-block;
  margin-block-start: 4px;
  &:not(:has(:not([disabled]))) { /* what was i on */
    border-color: rgb(from var(--fg) r g b / var(--op-c));
  }
  button {
    padding-block: 4px;
    padding-inline: 8px;
    display: inline-block;
    border-radius: 16px;
    transition: background 0.2s, border-radius 0.2s, padding 0.2s, margin 0.2s;
    &:not(:last-child) {
      margin-inline-end: -4px;
    }
  }
  .checked {
    background: var(--checked);
    color: white;
    font-weight: bold;
    &:has(+ .checked) {
      border-start-end-radius: 0;
      border-end-end-radius: 0;
      padding-inline-end: 6px;
      margin-inline-end: 0;
    }
    & + .checked {
      border-start-start-radius: 0;
      border-end-start-radius: 0;
      padding-inline-start: 6px;
    }
    &:disabled {
      color: #fffd;
    }
  }
  ::after {
    content: "";
    inset: 0;
    position: absolute;
    border-radius: 16px;
    background-color: transparent;
    transition: background-color 0.2s;
  }
  :is(:hover, :focus-visible) {
    outline: none;
    &::after {
      z-index: 1;
      outline: 2px solid var(--focus);
      background-color: rgb(from var(--focus) r g b / var(--op-2));
    }
  }
}
p:has(.opt) {
  text-align: center;
}
button {
  cursor: pointer;
  background: rgb(from var(--checked) r g b / 0);
  border: none;
  color: var(--fg);
  font-size: 1em;
  font-family: var(--sans);
  position: relative;
  &:is(:hover, :focus-visible):not(.opt > button) {
    outline: 2px solid var(--focus);
    background-color: rgb(from var(--focus) r g b / var(--op-2));
  }
}

#jvop {
  font-family: var(--mono);
  font-size: inherit;
  border: 1px solid var(--fg);
  background: var(--bg);
  padding-block: 4px;
  padding-inline: 8px;
  margin-block-start: 4px;
  display: inline-block;
  color: var(--fg);
  &:is(:hover, :focus-visible) {
    outline: 2px solid var(--focus);
    background-color: rgb(from var(--focus) r g b / var(--op-2));
  }
}

/* misc 2 */
hr {
  border: 1px solid var(--fg);
}
:not(hr, br, #fakebox *, #jvop):empty {
  display: none;
}
h1 {
  margin: 0;
  text-align: center;
  + p.sub {
    margin: 0;
    text-align: center;
  }
}
h2 {
  border-block-start: 3px solid rgb(from var(--fg) r g b / var(--op-c));
}
.temml-error {
  color: var(--red) !important;
  white-space: pre-wrap !important;
  font-family: var(--mono);
  display: block;
}
.err {
  color: var(--red);
}
#length, #bottom {
  text-align: center;
  margin-block: 8px;
  font-size: 1.25em;
  small {
    font-size: 1rem;
  }
}
i span {
  font-style: normal;
}
.bal {
  text-wrap: balance;
}

/* other media queries */
@media (prefers-contrast: more) {
  a, button, summary {
    text-decoration: underline;
  }
}
@media (forced-colors: active) {
  .opt button.checked::before {
    content: "✓ ";
  }
}
@media (prefers-reduced-motion: reduce) {
  * {
    transition: none;
  }
}
