/* fonts */
@font-face {
  font-family: "Fira Sans";
  src: url("fonts/FiraSans-Regular.ttf");
  font-display: swap;
}
@font-face {
  font-family: "Fira Math";
  src: url("fonts/FiraMath-Regular.otf");
  font-display: swap;
}
@font-face {
  font-family: "Fira Sans";
  src: url("fonts/FiraSans-Italic.ttf");
  font-display: swap;
  font-style: italic;
}
@font-face {
  font-family: "Fira Sans";
  src: url("fonts/FiraSans-Bold.ttf");
  font-display: swap;
  font-weight: bold;
}
@font-face {
  font-family: "Fira Sans";
  src: url("fonts/FiraSans-BoldItalic.ttf");
  font-display: swap;
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "iosevie";
  src: url("fonts/Iosevie-Regular.ttf");
  font-display: swap;
}
@font-face {
  font-family: "iosevie";
  src: url("fonts/Iosevie-Italic.ttf");
  font-display: swap;
  font-style: italic;
}
@font-face {
  font-family: "iosevie";
  src: url("fonts/Iosevie-Bold.ttf");
  font-display: swap;
  font-weight: bold;
}
@font-face {
  font-family: "iosevie";
  src: url("fonts/Iosevie-BoldItalic.ttf");
  font-display: swap;
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "Nokia Pure HL KLGN";
  src: url("fonts/nokiapiqad.ttf");
}

/* main */
*, input, button {
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
}
*:not(body), input, button {
  transition: background 0.2s;
}
:root {
  --bg: 255, 224, 241;
  --fg: 0, 0, 0;
  --inv: 255, 255, 255;
  --checked: 255, 20, 146;
  --op-c: 0.8;
  --op-a: calc(2/3);
  --op-8: calc(8/15);
  --op-4: calc(4/15);
  --op-2: calc(2/15);
  --link: 0, 105, 204;
  --err: 200, 41, 41;
  --focus: 255, 174, 12;
  --sans: "Fira Sans", "Nokia Pure HL KLGN", ui-sans-serif, sans-serif;
  --mono: "iosevie", ui-monospace, monospace;
  background: rgb(var(--bg));
  color: rgb(var(--fg));
  &:has(> body.regex) {
    --bg: 224, 242, 240;
    --checked: 12, 147, 129;
  }
  &:has(> body.rhyme) {
    --bg: 236, 230, 245;
    --checked: 113, 44, 232;
  }
  &.dark {
    --bg: 38, 3, 22;
    --fg: 255, 255, 255;
    --inv: 0, 0, 0;
    --link: 153, 204, 255;
    --err: 255, 153, 153;
    &:has(> body.regex) {
      --bg: 3, 23, 20;
    }
    &:has(> body.rhyme) {
      --bg: 22, 10, 36;
      --checked: 143, 72, 224;
    }
  }
}

body {
  font-family: var(--sans);
  margin-inline: auto;
  max-inline-size: 600px;
  padding: 8px;
  line-height: 1.4;
  word-break: break-word;
  &[class^=r] .normalonly {
    display: none;
  }
  &:not([class^=re]) .regexonly {
    display: none;
  }
  &:not([class^=rh]) .rhymeonly {
    display: none;
  }
}

/* searchbar */
#fakebox {
  display: flex;
  border-radius: 16px;
  background: rgb(var(--inv));
  border: 2px solid rgb(var(--fg));
  box-shadow: rgb(var(--fg)) 0 3px;
  padding-block: 4px;
  padding-inline: 12px;
  align-items: baseline;
  block-size: 1lh;
  font-size: 1.5em;
  box-sizing: content-box;
  &:has(> #search:disabled) {
    opacity: 1;
    border-color: rgba(var(--fg), var(--op-8));
    background-color: rgba(var(--inv), var(--op-8));
    box-shadow: rgba(var(--fg), var(--op-8)) 0 3px;
  }
  &:is(:hover, :focus-within) {
    outline: 2px solid rgb(var(--focus));
    background-color: rgba(var(--focus), var(--op-2));
  }
}

#search {
  display: block;
  padding: 0;
  margin: 0;
  flex: 1;
  border-radius: 0;
  font-family: var(--sans);
  font-size: inherit;
  background: transparent;
  border: none;
  color: rgb(var(--fg)) !important;
  block-size: 1lh;
  box-sizing: content-box;
  caret-color: rgb(var(--fg));
  &:disabled {
    opacity: 1;
  }
  &::placeholder {
    color: rgba(var(--fg), var(--op-c));
    opacity: 1;
  }
  &:disabled::placeholder {
    color: rgba(var(--fg), var(--op-8));
    opacity: 1;
  }
  &:focus-visible {
    outline: none;
    background: none;
  }
}

#clear-wrap {
  display: none;
  &.show {
    display: inline;
  }
}
.clear {
  color: rgb(var(--err));
}
.nopad {
  padding: 0;
}
:disabled {
  color: rgba(var(--fg), var(--op-c));
}

/* lujvo things / regex errors */
#info {
  font-size: 1.25em;
  margin-block-start: 8px;
  color: rgba(var(--fg), var(--op-c));
  p {
    margin-block: 6px;
  }
  :not(.err) {
    color: rgba(var(--fg), var(--op-c));
  }
}

.rafsi a {
  color: rgba(var(--fg), var(--op-c));
}

/* results */
.entry {
  display: block;
  margin-block: 8px;
  padding-block: 4px;
  padding-inline: 16px;
  background: rgba(var(--inv), var(--op-8));
  border-radius: 16px;
  color: rgb(var(--fg));
  :is(p:first-child, summary) {
    font-family: var(--sans);
  }
  p:first-child a.w {
    color: rgb(var(--fg));
  }
  .selmaho {
    font-family: var(--mono);
    color: rgba(var(--fg), var(--op-c));
  }
  :is(.selmaho, .rafsi) {
    color: rgba(var(--fg), var(--op-c));
  }
  details {
    color: rgba(var(--fg), var(--op-c));
    margin-block: 16px;
  }
}
code, pre {
  font-family: var(--mono);
}
summary {
  font-weight: bold;
  cursor: pointer;
  &:has(a:hover):hover {
    outline: none;
    background: none;
  }
}
:not([open]) > summary span {
  display: none;
}

/* misc */
.nobr {
  white-space: nowrap;
}
ul li {
  list-style-type: disc;
}
math {
  font-family: "Fira Math";
  font-size: 1.1em;
}
b, h1, summary {
  letter-spacing: 0.05ch;
}

/* links/buttons */
a {
  color: rgb(var(--link));
  text-decoration: none;
  &:is(:hover, :focus-visible) {
    outline: 2px solid rgb(var(--focus));
    background-color: rgba(var(--focus), var(--op-2));
  }
}
.opt {
  color: rgb(var(--fg));
  border: 1px solid rgb(var(--fg));
  border-radius: 16px;
  display: inline-block;
  margin-block-start: 4px;
  &:not(:has(:not([disabled]))) {
    border-color: rgba(var(--fg), var(--op-c));
  }
  button {
    padding-block: 4px;
    padding-inline: 8px;
    display: inline-block;
    border-radius: 16px;
    transition: background 0.2s, border-radius 0.2s, padding 0.2s, margin 0.2s;
    &:not(:last-child) {
      margin-inline-end: -4px;
    }
  }
  .checked {
    background: rgb(var(--checked));
    color: white;
    font-weight: bold;
    &:has(+ .checked) {
      border-start-end-radius: 0;
      border-end-end-radius: 0;
      padding-inline-end: 6px;
      margin-inline-end: 0;
    }
    & + .checked {
      border-start-start-radius: 0;
      border-end-start-radius: 0;
      padding-inline-start: 6px;
    }
    &:disabled {
      color: #fffd;
    }
  }
  ::after {
    content: "";
    inset: 0;
    position: absolute;
    border-radius: 16px;
    background-color: transparent;
    transition: background-color 0.2s;
  }
  :is(:hover, :focus-visible) {
    outline: none;
    &::after {
      z-index: 1;
      outline: 2px solid rgb(var(--focus));
      background-color: rgba(var(--focus), var(--op-2));
    }
  }
}
p:has(.opt) {
  text-align: center;
}
button {
  cursor: pointer;
  background: rgb(var(--checked), 0);
  border: none;
  color: rgb(var(--fg));
  font-size: 1em;
  font-family: var(--sans);
  position: relative;
  &:is(:hover, :focus-visible):not(.opt > button) {
    outline: 2px solid rgb(var(--focus));
    background-color: rgba(var(--focus), var(--op-2));
  }
}

#jvop {
  font-family: var(--mono);
  font-size: inherit;
  border: 1px solid rgb(var(--fg));
  background: rgb(var(--inv));
  padding-block: 4px;
  padding-inline: 8px;
  margin-block-start: 4px;
  display: inline-block;
  color: rgb(var(--fg));
  &:is(:hover, :focus-visible) {
    outline: 2px solid rgb(var(--focus));
    background-color: rgba(var(--focus), var(--op-2));
  }
}

/* misc 2 */
hr {
  border: 1px solid rgb(var(--fg));
}
:not(hr, br, #fakebox *, #jvop):empty {
  display: none;
}
h1 {
  margin: 0;
  text-align: center;
  & + p.sub {
    margin: 0;
    text-align: center;
  }
}
h2 {
  border-block-start: 3px solid rgba(var(--fg), var(--op-c));
}
.temml-error {
  color: rgb(var(--err)) !important;
  white-space: pre-wrap !important;
  font-family: var(--mono);
  display: block;
}
.err {
  color: rgb(var(--err));
}
#length, #bottom {
  text-align: center;
  margin-block: 8px;
  font-size: 1.25em;
  small {
    font-size: 1rem;
  }
}
i span {
  font-style: normal;
}

/* other media queries */
@media (prefers-contrast: more) {
  a, button, summary {
    text-decoration: underline;
  }
}
@media (forced-colors: active) {
  .opt button.checked::before {
    content: "✓ ";
  }
}
@media (prefers-reduced-motion: reduce) {
  * {
    transition: none;
  }
}
